.table {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 80px;
  gap: 8px;

  &__plate {
    position: relative;
    width: 50px;
    height: 28px;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 18px;
      background: aliceblue;
      z-index: -1;
      border-radius: 50%;
    }
  }
}
